*{
    box-sizing: border-box;
}
body{
    background-color: #FFE5EC;
    margin: 50px;
}

header{
    background-color: #FB6F92;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    border-radius: 10px;
}

aside{
    float: left;
    width: 30%;
    text-align: center;
}

.card1{
    background-color: #FFB3c6;
    margin: 10px 10px;  
    border-radius: 10px;
    padding: 30px;
    font-family: 微軟正黑體;
}

.aside-txt{
    border-style: double;
    border-width: 10px;
    border-color: #FFE5EC;
    padding: 10px;
    margin: 25px;
}

.education1{
    font-family: Impact;
    color: #FB6F92;
    text-shadow: 0.07cm 0.07cm #FFE5EC;
    font-size: 40px;
}

.education2{
    font-family: 微軟正黑體;
}

article{
    float: right;
    width: 67%;
}

.py-container {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    background: #eee;
}
.py-progress {
    width: 65%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #FFB3c6;
}

.ja-container {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    background: #eee;
}
.ja-progress {
    width: 50%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #FFB3c6;
}

.ht-container {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    background: #eee;
}
.ht-progress {
    width: 76%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #FFB3c6;
}

.wo-container {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    background: #eee;
}
.wo-progress {
    width: 90%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #FFB3c6;
}

.pp-container {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    background: #eee;
}
.pp-progress {
    width: 92%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #FFB3c6;
}

.ex-container {
    width: 480px;
    height: 50px;
    border-radius: 25px;
    background: #eee;
}
.ex-progress {
    width: 85%;
    height: inherit;
    border-radius: 25px 0 0 25px;
    background: #FFB3c6;
}

nav{
    padding: 10px;
    font-family: fantasy;
    font-size: 25px;
    text-align: center;
    color: white;
}

nav a{
    padding: 10px 25px;
    display: inline-block;
    color: #FFB3c6;
}

nav a:hover{
    background-color: #FFB3c6;
    color: white;
}

.card2{
    background-color: white;
    margin: 20px 20px;  
    border-radius: 10px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 微軟正黑體;
    text-align: center;
}

.card2-txt{
    border-style: dotted;
    border-width: 5px;
    border-color: #FFC2D1;
    padding: 10px;
    margin: 20px;
}

footer{
    background-color: #FB6F92;
    text-align: center;
    color: #FFE5EC;
    padding: 20px;
    border-radius: 10px;
}

.clearfix{
    clear: both;
}